[alias]
	unstage = reset HEAD --
	c = !git add -A && git commit -m
	fr = !git fetch && git rebase
	cleanmergecheck = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}'; }; f"
	cleanmerge = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	dev = !git checkout develop && git fetch && git rebase
	prod = !git checkout master && git fetch && git rebase
[user]
	name = Damien LEROY
	email = dleroy@xxx
[core]
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
